* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.footer {
    display: grid;
    padding: 40px 120px;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background:  hsl(233, 12%, 13%);
  }
  
  
  .footer-nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 8em;
  }
  
  .footer-logo {
    color: #fff;
  }
  
  .footer-copy-right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    gap: 4.5em;
    color:  hsl(0, 0%, 98%);
  }
  
  .footer-btn {
    border-radius: 25px;
    border: 1px solid #808080;
    color: #fff;
    background:  linear-gradient(to right, hsl(136, 65%, 51%),  hsl(192, 70%, 51%));
    padding: 15px 40px;
    cursor: pointer;
  }
  
  .footer-btn:hover {
   filter: opacity(0.7);
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .7em;
  }
  
  .nav-list li {
    cursor: pointer;
  }
  
  .nav-list li:hover {
    color:  hsl(12, 88%, 59%);
  }
  
  .media-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4.5em;
  }
  
  .media {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
  }
  
  .media svg:hover {
    color: hsl(12, 88%, 59%);
    cursor: pointer;
}

small {
  color: #808080;
}

.email {
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 14px 20px 14px 12px;
  margin-right: 12px;
}  

.go {
  display: flex;
  gap: 7em;
}

.go-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 12em;
}
  
@media (max-width:1024px) {
    .footer {
      padding: 30px 40px;
    }
  
    .footer-nav {
      gap: 5em;
  }
    .nav-links {
      gap: 7em;
    }

}
  
@media (max-width:768px) {
    .footer-nav {
      gap: 3em;
    }

    .nav-links {
      gap: 3em;
    }
  
    .footer {
      font-size: small;
  }

  .go {
    gap: 2em;
  }
}
  
@media (max-width: 425px) {
    .footer {
      display: flex;
      flex-direction: column;
      font-size: initial;
    }
  
    .footer-nav {
      display: flex;
      flex-direction: column;
      margin-bottom: 3em;
      align-items: center;
    }
  
    button.btn-invite {
      display: block;
    }
    
    .footer-copy-right {
      align-items: center;
    }

    .footer-copy-right > div {
      display: flex;
    }

    .go {
      flex-direction: column-reverse;
    }

    .go-cont > div {
      display: flex;
    }

    .go-cont > div button {
      display: block;
    }

    .media-container {
      flex-direction: column-reverse;
      align-items: center;
      gap: 2.5em;
    }

    .media {
      gap: 3em;
    }

    .media svg {
      transform: scale(1.6);
    }

    .footer {
      flex-direction: column-reverse;
      gap: 3em;
      position: relative;
    }

    small {
      position: absolute;
      bottom: 17px;
      left: 113px;
    }

}

@media (max-width: 375px) {
  small {
    left: 97px;
  }
}

@media (max-width: 360px) {
  small {
    left: 83px;
  }
}

@media (max-width: 320px) {
  small {
    left: 63px;
  }
}

@media (max-width: 280px) {
  .media {
    gap: 2em;
  }

  .email {
    margin-right: 2px;
    padding: 14px 5px;
  }


  small {
    left: 30px;
  }
}
