.test-container  {
    margin-bottom: 3em;
    overflow-x: hidden;
}

.testimonials  {
    position: relative;
    width: 95% !important;
    background:  hsl(0, 0%, 98%);
    padding: 80px 60px 120px 60px;
    text-align: center;
    height: 37vh;
    margin: 55px 12px;
    line-height: 20px;
    text-align: center;
    z-index: -10 !important;
    color:   hsl(227, 12%, 61%);
    font-size: 16px;  
    border-radius: 12px;
}

h2 {
    text-align: center;
    margin-bottom: 70px;
    color:  hsl(228, 39%, 23%);
    font-size: 32px;
}




.testimonials h3 {
    margin-bottom: 12px;
    color: hsl(228, 39%, 23%);
}


.testimonials img {
    position: absolute !important;
    top: -70px;
    right: 200px;
    transform: scale(.7);
    z-index: 1000 !important;
}

.container {
    text-align: center;
    margin: 0px auto -40px auto;
    position: relative;
}

.mobile-slider {
    display: none;
}

@media (max-width: 1024px) {
    .testimonials img {
        right: 317px;
    }
}

@media (max-width: 768px) {
    .testimonials img {
        right: 200px;
    }
}


@media (max-width: 425px) {

    .slick-next:hover:before, .slick-next:focus{
        display: none !important;
    }

    .slick-next:before {
        content: '';
    }

    .slick-prev:before {
        content: '';
    }

    .test-container {
        display: none  !important;
    }

    .mobile-slider {
        display: flex;
        overflow-x: hidden;
    }

   

    .testimonials img {
        right: 123px;
    }

    .slick-dots {
        margin-bottom: 40px !important;
    }

    .slick-dots li button:before {
        color: red !important;
    }
}

@media (max-width: 375px) {
    .testimonials {
        font-size: 13px;
    }

    .testimonials img {
        right: 105px;
    }

}

@media (max-width: 365px) {
    .testimonials img {
        right: 100px;
    }
}

@media (max-width: 320px) {
    .testimonials {
        padding: 80px 40px 120px 40px;
    }

    .testimonials img {
        right: 80px;
    }

}